eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8888/eureka/
server:
  port: 8766
  tomcat:
    max-threads: 10
spring:
  application:
    name: service-order-feign
#feign:
#   hystrix:
#     enabled: true
#hystrix:
#   command:
#     default:
#       execution:
#        isolation:
#         thread:
#          timeoutInMilliseconds: 4000
     

